:root {
  --unrouted: #a19ea0;
  --routed: #f5d328;
  --remove: #ec5d57;
  --contracted: #dfe3e2;
  --expanded: #ff6db5;
  --color: #000;
  --remove-icon: #fff;
  --node-width: 24px;
  --background-color: #dfe3e2;
}

.routable {
  position: relative;
  height: 38px;
  margin-top: 8px;
  width: 99%;
  max-height: 38px;

  & .button {
    width: 100%;
    cursor: initial;
    border-radius: 0;
    border: none;
    fill: var(--color);
    color: var(--color);
    padding: 0 8px 0 13px;
    transition: color 0.25s, fill 0.25s, background-color 0.25s;

    & .label {
      width: 100%;
    }

    & .label,
    & .description {
      font-weight: normal;
      letter-spacing: 0;
      text-align: right;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & .gel-icon {
      width: 32px;
      stroke: var(--color);
    }
  }

  & .node-container {
    width: 100%;
    position: absolute;
    top: 0;
    height: 38px;
    z-index: -1;
    transition: transform 0.25s;

    & .node {
      background-color: var(--unrouted);
      position: absolute;
      width: var(--node-width);
      height: var(--node-width);
      border-radius: 90px;
      transition: color 0.25s, fill 0.25s, background-color 0.25s;

      & .gel-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        transition: fill 0.25s;
      }

      &.unicast {
        border-radius: 0;
        height: 18px;
        width: 18px;
      }
    }
  }

  &.full {
    margin-top: 140px;
    margin-left: 10%;
    position: absolute;
    width: 33.3333%;

    & .button-container {
      width: 100%;
      position: absolute;
    }

    & .node-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: -1;
    }

    & .node {
      right: 0;
      top: 50%;
      transform: translate(12px, -50%);

      &.unicast {
        transform: translate(10px, -50%) rotate(45deg);
      }
    }

    & .button {
      height: auto;
      background-color: color(var(--expanded) tint(30%));

      & .gel-icon {
        height: 40px;
        margin-top: 16px;
        width: 100%;
      }

      & .label {
        width: 95%;
      }

      & .label,
      & .description {
        text-align: center;
        white-space: normal;
      }

      & .description {
        font-style: italic;
      }

      & .description-container {
        line-height: 18px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 16px;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--expanded);
      }
    }
  }

  & .unrouting .node {
    background-color: var(--remove);
  }

  &.routed .node {
    background-color: var(--routed);

    &:hover {
      background-color: var(--remove);
      cursor: pointer;
    }
  }

  &.contracted .button {
    background-color: var(--contracted);
  }

  &:hover.selectable .button {
    cursor: pointer;
    background-color: var(--expanded);
  }

  &.disabled,
  &.removed {
    & .button {
      background-color: color(var(--contracted) tint(75%));
      fill: color(var(--color) tint(75%));
      color: color(var(--color) tint(75%));

      & .gel-icon {
        stroke: color(var(--color) tint(75%));
      }

      &:hover {
        cursor: initial;
        background-color: color(var(--contracted) tint(75%));
        fill: color(var(--color) tint(75%));
        color: color(var(--color) tint(75%));
      }
    }
  }

  &.other {
    & .button {
      background-color: color(var(--contracted) tint(25%));
      fill: color(var(--color) tint(25%));
      color: color(var(--color) tint(25%));
    }

    & .unrouted {
      background-color: color(var(--unrouted) tint(25%));
    }

    & .routed {
      background-color: color(var(--routed) tint(25%));
    }
  }

  &.removed {
    & .node {
      background-color: transparent;

      & .gel-icon {
        fill: transparent;
      }
    }
  }

  &.disabled.unrouted {
    & .node {
      background-color: transparent;

      & .gel-icon {
        fill: transparent;
      }
    }
  }

  &.expired {
    transition: opacity 0.25s;
    transition: max-height 0.25s;
    max-height: 0;
    opacity: 0;
  }
}

.expanded {
  & .button-container,
  & .node {
    box-shadow: rgba(85, 85, 85, 0.5) -7px 7px 20px 3px;
  }
}

.stagedRoute {
  & .node-container .node {
    background-color: var(--routed);
  }
}

.stagedUnroute {
  & .node-container .node {
    background-color: var(--remove);
  }
}

.other,
.contracted {
  & .full {
    display: none;
  }
}

.checkbox {
  margin-left: 4px;
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 2px;
  border: solid 2px;

  &:hover {
    cursor: pointer;
  }

  & .gel-icon {
    margin: auto;
    width: 100%;
    height: 100%;
  }

  & .gel-icon-no,
  & .gel-icon-minus,
  & .gel-icon-empty {
    display: none;
  }
}

.checked .gel-icon-no,
.all .gel-icon-no,
.some .gel-icon-minus,
.unchecked .gel-icon-empty,
.none .gel-icon-empty {
  display: block;
}
