:root {
  --background-color: #dfe3e2;
  --search-border: #555;
  --color: #000;
  --placeholder: #555;
  --contracted: #dfe3e2;
}

.routable {
  &.static {
    & .button {
      transition: background-color 0.25s !important;
      background-color: var(--background-color) !important;
      color: var(--color) !important;
      fill: var(--color) !important;
      width: 98%;
      margin-right: 1%;

      &:hover {
        cursor: initial;
      }
    }
  }

  &.blank {
    & .button {
      background-color: transparent !important;

      &:hover {
        cursor: initial;
      }
    }
  }
}
