@custom-media --tablet (max-width: 1000px);
@custom-media --desktop (min-width: 1280px);

:root {
  --unrouted: #a19ea0;
  --routed: #f5d328;
  --remove: #ec5d57;
  --contracted: #dfe3e2;
  --expanded: #ff6db5;
  --color: #000;
  --remove-icon: #fff;
  --node-width: 24px;
}

.short {
  height: 38px;
}

.node-container {
  width: 100%;
  position: absolute;
  top: 0;
  height: 38px;
  z-index: -1;
}

.node {
  position: absolute;
  width: var(--node-width);
  height: var(--node-width);
  border-radius: 90px;
  transition: color 0.25s, fill 0.25s, background-color 0.25s, transform 0.25s;

  & .gel-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    transition: fill 0.25s;
  }
}

.senders .node {
  top: 50%;
  right: 0;
  transform: translate(12px, -50%);

  & .gel-icon {
    fill: transparent;
  }
}

.receivers .node {
  top: 50%;
  left: 0;
  transform: translate(-12px, -50%);

  & .gel-icon {
    fill: transparent;
  }

  &-container-routed {
    z-index: 1;
  }
}

.routed {
  background-color: var(--routed);

  &:hover {
    background-color: var(--remove);
    cursor: pointer;
  }
}

.receivers .routed,
.receivers .remove {
  z-index: 1;
  transform: translate(-26px, -50%);

  & .gel-icon {
    fill: var(--remove-icon);
  }
}

.unrouted {
  background-color: var(--unrouted);
}

.remove {
  background-color: var(--remove);
}

.contracted .button {
  background-color: var(--contracted);
}

.selectable .button {
  &:hover,
  &:active {
    cursor: pointer;
    background-color: var(--expanded);
  }
}

.disabled {
  & .node.unrouted {
    background-color: transparent;

    & .gel-icon {
      fill: transparent;
    }
  }
}

.removed {
  & .node {
    background-color: transparent;

    & .gel-icon {
      fill: transparent;
    }
  }
}

.other {
  & .button {
    background-color: color(var(--contracted) tint(25%));
    fill: color(var(--color) tint(25%));
    color: color(var(--color) tint(25%));
  }

  & .unrouted {
    background-color: color(var(--unrouted) tint(25%));
  }

  & .routed {
    background-color: color(var(--routed) tint(25%));
  }
}

.disabled,
.removed {
  & .button {
    background-color: color(var(--contracted) tint(75%));
    fill: color(var(--color) tint(75%));
    color: color(var(--color) tint(75%));

    &:hover {
      cursor: initial;
      background-color: color(var(--contracted) tint(75%));
      fill: color(var(--color) tint(75%));
      color: color(var(--color) tint(75%));
    }
  }
}

.full {
  margin-top: 90px;
  margin-left: 10%;
  position: absolute;
  width: 33.3333%;

  & .button-container {
    width: 100%;
    position: absolute;
  }

  & .node-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
  }

  & .node {
    right: 0;
    top: 50%;
    transform: translate(12px, -50%);
  }

  & .button {
    height: auto;
    background-color: color(var(--expanded) tint(30%));

    & .gel-icon {
      height: 40px;
      margin-top: 16px;
      width: 100%;
    }

    & .label {
      width: 95%;
    }

    & .label,
    & .description {
      text-align: center;
      white-space: normal;
    }

    & .description {
      font-style: italic;
    }

    & .description-container {
      line-height: 18px;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 16px;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--expanded);
    }
  }
}

.other,
.contracted {
  & .full {
    display: none;
  }
}

.expanded {
  & .button-container,
  & .node {
    box-shadow: rgba(85, 85, 85, 0.9) 0 0 20px 5px;
  }
}

.connections .expanded.short {
  visibility: hidden;
}

.column-title {
  text-align: center;
}

.connections .routables-scroll {
  height: 95%;
}

.connections .routable.unchecked {
  display: none;
}

.routes {
  position: relative;
  z-index: -2;
  padding-right: 32px;

  &-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  & .route {
    position: absolute;
    padding: 2px 0;
    padding-left: 10px;
    margin-top: 10px;
    width: 100%;

    & .line {
      transition: stroke 0.25s, stroke-dasharray 0.5s;
      fill: transparent;
      stroke-linecap: round;
      stroke-width: 3;
      stroke: var(--expanded);
      stroke-dasharray: 0, 0;
    }

    &.expanded {
      & .line {
        stroke: var(--routed);
      }
    }
  }
}

.routes {
  position: relative;
  left: -40%;
}

.receivers {
  position: relative;
  left: 20%;
}
