:root {
  --routed: #f5d328;
  --remove: #ec5d57;
  --default: #a19ea0;
  --remove-icon: #fff;
  --header-height: 35px;
}

.connections {
  & .header {
    height: var(--header-height);
  }

  & .expanded.short {
    visibility: hidden;
  }

  & .column-title {
    text-align: left;
  }

  & .routables-scroll {
    height: calc(100% - 35px - 35px - 12px);
  }

  & .routable.unchecked {
    display: none;
  }

  & .routes {
    position: relative;
    z-index: -2;
    padding-right: 19px;
    left: -40%;

    &-container {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &.expanded {
      & .route {
        & .line {
          stroke: color(var(--default) tint(75%));
        }

        &-unrouting .line {
          stroke: color(var(--remove) tint(30%));
        }
      }
    }

    & .route {
      position: absolute;
      padding: 2px 0;
      padding-left: 10px;
      margin-top: 10px;
      width: 100%;

      & .line {
        transition: stroke-dasharray 0.25s ease-out, stroke 0.25s ease-out;
        fill: transparent;
        stroke-linecap: round;
        stroke-width: 3;
        stroke: color(var(--default) tint(30%));
        stroke-dasharray: 0, 0;
      }

      &-routing,
      &-unrouting,
      &-staged-route,
      &-staged-unroute {
        & .line {
          stroke-dasharray: 15, 15;
        }
      }

      &.expanded {
        & .line {
          stroke: var(--routed);
        }
      }

      &-staged-unroute.expanded {
        & .line {
          stroke: var(--remove);
        }
      }

      &-unrouting,
      &-staged-unroute {
        & .line {
          stroke: var(--remove);
        }
      }

      &-staged-route .line {
        stroke: var(--routed);
      }
    }

    & .unicast .line {
      /* Placeholder */
      stroke: green;
    }
  }

  & .receivers,
  & .senders {
    & .node {
      top: 50%;

      & .gel-icon {
        fill: transparent;
      }
    }
  }

  & .senders .node {
    right: 0;
    transform: translate(12px, -50%);
  }

  & .receivers {
    position: relative;
    left: 20%;

    & .node {
      left: 0;
      transform: translate(-12px, -50%);

      &-container-routed {
        z-index: 1;
      }
    }

    & .routable {
      &.routed,
      &.unrouting,
      &.remove {
        & .node-container {
          z-index: 1;

          /* transform: translateX(-26px); */

          & .gel-icon {
            fill: var(--remove-icon);
          }
        }
      }
    }
  }

  /* Staged routes are the temp routes that appear in manual routing mode */
  & .receivers,
  & .senders {
    & .stagedRoute .node {
      background-color: var(--routed);
    }

    & .stagedUnroute .node {
      background-color: var(--remove);
    }
  }
}
