# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
build
debian/files
debian/ips-web.postinst.debhelper
debian/ips-web.postrm.debhelper
debian/ips-web.prerm.debhelper
debian/ips-web.substvars
debian/ips-web/
*.css

# gel react
./src/gel-react/.gitignore
./src/gel-react/.npmignore
./src/gel-react/package.json
!/src/gel-react/*.css

#dev
*.log
*.json.gzip
yarn.lock

# misc
.DS_Store
npm-debug.log
