/* This file describes how the three views (choose, route and confirm) should
arrange themselves depending on the user's viewport size
It also styles the three navigation buttons at the top of the page accordingly */

@custom-media --small-screen (max-width: 1279px);
@custom-media --medium-screen (min-width: 1280px) and (max-width: 1859px);
@custom-media --large-screen (min-width: 1860px);

:root {
  --button-color: #fff;
  --active: #33c3f0;
  --box-border: #a19ea0;
  --disabled: red;

  --active-nav: {
    fill: var(--button-color);
    color: var(--button-color);
    background-color: var(--active);
  }

  --inactive-nav: {
    fill: color(var(--button-color) tint(30%));
    color: color(var(--button-color) tint(30%));
    background-color: color(var(--active) tint(60%));
  }

  --disabled-nav: {
    fill: color(var(--button-color) tint(30%));
    color: color(var(--button-color) tint(30%));
    background-color: color(var(--disabled) tint(60%));
  }

  --far-left: {
    transform: translateX(-200%);
  }
  --left: {
    transform: translateX(-100%);
  }
  --center: {
    transform: translateX(0%);
  }
  --right: {
    transform: translateX(100%);
  }
  --far-right: {
    transform: translateX(200%);
  }

  --manual-large-screen-view: {
    & .left {
      @apply --center;
    }

    & .center {
      @apply --right;
    }

    & .right {
      @apply --far-right;
    }

    & .container,
    & .expanded-sender-container {
      width: 33%;
    }
  }
}

.web-router {
  &-notification-none .notifications {
    height: 0;
  }

  /* Default view */

  & .right {
    @apply --far-right;
  }

  & .left {
    @apply --center;
  }

  & .center {
    @apply --right;
  }

  & .choose-nav {
    @apply --active-nav;
  }

  & .route-nav {
    @apply --inactive-nav;
  }

  & .confirm-nav {
    @apply --disabled-nav;
  }

  &\/automatic\/choose {
    & .left {
      @apply --center;
    }

    & .center {
      @apply --right;
    }

    & .right {
      @apply --far-right;
    }

    & .choose-nav {
      @apply --active-nav;
    }

    & .route-nav {
      @apply --inactive-nav;
    }

    & .confirm-nav {
      @apply --disabled-nav;
    }
  }

  &\/automatic\/route {
    & .left {
      @apply --left;
    }

    & .center {
      @apply --center;
    }

    & .right {
      @apply --far-right;
    }

    & .choose-nav {
      @apply --inactive-nav;
    }

    & .route-nav {
      @apply --active-nav;
    }

    & .confirm-nav {
      @apply --disabled-nav;
    }
  }

  @media (--medium-screen), (--large-screen) {
    & .left {
      @apply --center;
    }

    & .center {
      @apply --right;
    }

    & .choose-nav {
      @apply --active-nav;
    }

    & .route-nav {
      @apply --active-nav;
    }
  }

  &\/manual\/choose {
    & .left {
      @apply --center;
    }

    & .center {
      @apply --right;
    }

    & .right {
      @apply --far-right;
    }

    & .choose-nav {
      @apply --active-nav;
    }

    & .route-nav {
      @apply --inactive-nav;
    }

    & .confirm-nav {
      @apply --inactive-nav;
    }

    @media (--medium-screen) {
      & .route-nav {
        @apply --active-nav;
      }
    }

    @media (--large-screen) {
      @apply --manual-large-screen-view;
    }
  }

  &\/manual\/route {
    & .left {
      @apply --left;
    }

    & .center {
      @apply --center;
    }

    & .right {
      @apply --right;
    }

    & .choose-nav {
      @apply --inactive-nav;
    }

    & .route-nav {
      @apply --active-nav;
    }

    & .confirm-nav {
      @apply --inactive-nav;
    }

    @media (--medium-screen) {
      & .confirm-nav {
        @apply --active-nav;
      }
    }

    @media (--large-screen) {
      @apply --manual-large-screen-view;
    }
  }

  &\/manual\/confirm {
    & .choose-nav {
      @apply --inactive-nav;
    }

    & .route-nav {
      @apply --inactive-nav;
    }

    & .confirm-nav {
      @apply --active-nav;
    }

    @media (--small-screen) {
      & .left {
        @apply --far-left;
      }

      & .center {
        @apply --left;
      }

      & .right {
        @apply --center;
      }
    }

    @media (--medium-screen) {
      & .left {
        @apply --left;
      }

      & .center {
        @apply --center;
      }

      & .right {
        @apply --right;
      }

      & .route-nav {
        @apply --active-nav;
      }
    }

    @media (--large-screen) {
      @apply --manual-large-screen-view;
    }
  }
}
