@custom-media --phone (min-width: 300px) and (max-width: 999px);
@custom-media --tablet (min-width: 1000px) and (max-width: 1399px);
@custom-media --desktop (min-width: 1400px);

:root {
  --button-color: #fff;
  --active: #33c3f0;
  --box-border: #a19ea0;

  --active-nav: {
    fill: var(--button-color);
    color: var(--button-color);
    background-color: var(--active);
  }

  --inactive-nav: {
    fill: color(var(--button-color) tint(30%));
    color: color(var(--button-color) tint(30%));
    background-color: color(var(--active) tint(60%));
  }

  --disabled-nav: {
    fill: color(var(--button-color) tint(30%));
    color: color(var(--button-color) tint(30%));
    background-color: color(black tint(80%));
  }

  --far-left: {
    transform: translateX(-200%);
  }
  --left: {
    transform: translateX(-100%);
  }
  --center: {
    transform: translateX(0%);
  }
  --right: {
    transform: translateX(100%);
  }
  --far-right: {
    transform: translateX(200%);
  }

  --auto-choose: {
    & .left {
      @apply --center;
    }

    & .center {
      @apply --right;
    }

    & .right {
      @apply --far-right;
    }

    & .choose-nav {
      @apply --active-nav;
    }

    & .route-nav {
      @apply --inactive-nav;
    }

    & .confirm-nav {
      @apply --disabled-nav;
    }
  }

  --auto-route: {
    & .left {
      @apply --left;
    }

    & .center {
      @apply --center;
    }

    & .right {
      @apply --far-right;
    }

    & .choose-nav {
      @apply --inactive-nav;
    }

    & .route-nav {
      @apply --active-nav;
    }

    & .confirm-nav {
      @apply --disabled-nav;
    }
  }
}

.web-router {
  position: absolute;
  overflow: hidden;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  top: calc(38px + 3 * 12px);
  left: 0;
  right: 0;
  margin: auto;

  &-notification-none .notifications {
    height: 0;
  }

  & .container,
  & .expanded-sender-container {
    position: absolute;
    top: calc(38px + 12px);
    width: 100%;
    transition: all 0.5s;

    @media (--tablet), (--desktop) {
      width: 50%;
    }

    @media (--desktop) {
      top: 0;
    }
  }

  & .container {
    height: 80%;
    left: 0;
  }

  & .expanded-sender-container {
    height: 0;
  }

  & .expanded-sender {
    height: 0;
    margin-top: 88px;
    margin-left: 112px;
  }

  & .buttons-container {
    top: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s;
    height: 38px;

    @media (--desktop) {
      height: 0;
    }
  }

  &-notification-info,
  &-notification-alert {
    & .container,
    & .expanded-sender-container {
      top: calc(38px + 44px);

      @media (--tablet) {
        top: calc(44px + 12px);
      }
    }

    & .buttons-container {
      top: calc(38px + 12px);
    }
  }

  & .buttons {
    width: 360px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    & .button {
      border: 1px solid #555;
    }
  }

  & .center-nav {
    border-radius: 0;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
  }

  & .left-nav {
    border-radius: 4px 0 0 4px;
  }

  & .right-nav {
    border-radius: 0 4px 4px 0;
  }

  & .nav-1\/2 {
    text-align: center;
    width: 50%;

    & .label {
      width: 100%;
    }
  }

  & .nav-1\/3 {
    text-align: center;
    width: 33.3333%;

    & .label {
      width: 100%;
    }
  }

  /* Default view */

  /* PLACEHOLDER until third view is ready */
  & .right {
    @apply --far-right;
  }

  & .left {
    @apply --center;
  }

  & .center {
    @apply --right;
  }

  & .choose-nav {
    @apply --active-nav;
  }

  & .route-nav {
    @apply --inactive-nav;
  }

  & .confirm-nav {
    @apply --disabled-nav;
  }

  &\/automatic\/choose {
    @apply --auto-choose;
  }

  &\/automatic\/route {
    @apply --auto-route;
  }

  @media (--tablet), (--desktop) {
    & .left {
      @apply --center;
    }

    & .center {
      @apply --right;
    }

    & .choose-nav {
      @apply --active-nav;
    }

    & .route-nav {
      @apply --active-nav;
    }
  }

  & .box {
    border: solid 1px transparent;
    padding: 12px;
    margin-left: 16px;
    margin-right: 16px;
    height: 100%;

    @media (--tablet), (--desktop) {
      border: solid 1px var(--box-border);
    }
  }

  & .box-scroll {
    overflow-y: scroll;
  }

  & .box-hidden {
    overflow-y: hidden;
  }

  & .routables-scroll {
    overflow-y: auto;
  }

  & .route-view-layout {
    margin-left: 16px;
    margin-right: 16px;
  }
}
