@custom-media --small-screen (min-width: 400px) and (max-width: 1199px);
@custom-media --medium-screen (min-width: 1200px) and (max-width: 1599px);
@custom-media --large-screen (min-width: 1600px);

:root {
  --button-color: #fff;
  --active: #33c3f0;
  --box-border: #a19ea0;
}

.web-router {
  position: absolute;
  overflow: hidden;
  width: 100%;
  max-width: 1800px;
  min-width: 400px;
  height: 100%;
  top: calc(38px + 3 * 12px);
  left: 0;
  right: 0;
  margin: auto;

  &-notification-none .notifications {
    height: 0;
  }

  & .container,
  & .expanded-sender-container {
    position: absolute;
    top: calc(38px + 12px);
    width: 100%;
    transition: all 0.5s;

    @media (--medium-screen), (--large-screen) {
      width: 50%;
    }

    @media (--large-screen) {
      top: 0;
    }
  }

  & .container {
    height: 80%;
    left: 0;
  }

  & .expanded-sender-container {
    height: 0;
  }

  & .expanded-sender {
    height: 0;
    margin-top: 88px;
    margin-left: 112px;
  }

  & .buttons-container {
    top: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s;
    height: 38px;

    @media (--large-screen) {
      height: 0;
    }
  }

  &-notification-info,
  &-notification-alert {
    & .container,
    & .expanded-sender-container {
      top: calc(38px + 44px);

      @media (--medium-screen) {
        top: calc(44px + 12px);
      }
    }

    & .buttons-container {
      top: calc(38px + 12px);
    }
  }

  & .buttons {
    width: 360px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    & .button {
      border: 1px solid #555;
    }
  }

  & .center-nav {
    border-radius: 0;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
  }

  & .left-nav {
    border-radius: 4px 0 0 4px;
  }

  & .right-nav {
    border-radius: 0 4px 4px 0;
  }

  & .nav-1\/2 {
    text-align: center;
    width: 50%;

    & .label {
      width: 100%;
    }
  }

  & .nav-1\/3 {
    text-align: center;
    width: 33.3333%;

    & .label {
      width: 100%;
    }
  }

  & .box {
    border: solid 1px transparent;
    padding: 12px;
    margin-left: 16px;
    margin-right: 16px;
    height: 100%;

    @media (--medium-screen), (--large-screen) {
      border: solid 1px var(--box-border);
    }
  }

  & .box-scroll {
    overflow-y: scroll;
  }

  & .box-hidden {
    overflow-y: hidden;
  }

  & .connections-box {
    height: 85%;
  }

  & .routables-scroll,
  & .changes-scroll {
    overflow-y: auto;
  }

  /* This is a bit of a hack */
  & .route-view-layout {
    margin-left: 1px;
    margin-right: 1px;
  }
}
