.web-router {
  & .change-mode-container {
    margin-left: 16px;
    margin-top: 10px;
    margin-right: 16px;
    padding: 0;

    & .label-container {
      text-align: right;
    }

    & .checkbox-container {
      padding: 0;
      width: 30px;
    }

    & .checkbox {
      display: inline-block;
      position: absolute;
      right: 0;
      margin-right: 16px;

      &:hover {
        cursor: pointer;
      }

      & .gel-icon {
        margin: auto;
        width: 100%;
        height: 100%;
      }

      & .gel-icon-no,
      & .gel-icon-empty {
        display: none;
      }
    }
  }

  & .automatic {
    & .checkbox .gel-icon-empty {
      display: block;
    }
  }

  & .manual {
    & .checkbox .gel-icon-no {
      display: block;
    }
  }
}
