:root {
  --alert: #ec5d57;
  --info: #33c3f0;
}

.notifications {
  margin-bottom: 12px;
  height: 44px;
  overflow: hidden;
  transition: all 0.5s;
}

.notification {
  background-color: #ebebeb;
  height: 44px;

  & .gel-icon {
    margin-top: 4px;
    height: 32px;
    width: 32px;
  }

  & .gel-icon-alert {
    fill: var(--alert);
  }

  & .gel-icon-info {
    fill: var(--info);
  }

  & .message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 44px;
  }
}
