:root {
  --contracted: #dfe3e2;
  --color: #000;
}

.static .button {
  background-color: var(--contracted);
}

.checkbox {
  display: inline-flex;
}

.checkbox .gel-icon {
  margin: auto;
  margin-left: 6px;
  width: 16px;
  height: auto;
  padding: 2px;
  border: solid 2px;

  &:hover {
    cursor: pointer;
  }
}

.routables-left .break {
  display: none;
}
