/* This .css file styles some elements of the 'Choose' view. It is roughly
structured such that the css file from top to bottom styles the view from top
to bottom */

:root {
  --placeholder: #555;
  --contracted: #dfe3e2;
}

.choose-view {
  & .search {
    margin: 8px 0 8px 16px;
    border: solid 1px;
    height: 38px;
    display: flex;

    /* This calc helps to keep the right edge of the search box lined up with the
    right edge of the receiver checkboxes */
    width: calc(95% + 8px);

    & .gel-icon,
    & input {
      flex-grow: 1;
      padding: 0 8px;
    }

    & .gel-icon {
      margin-top: 9px;
      height: 20px;
      width: 20px;
      fill: color(var(--placeholder) tint(50%));
    }

    & input {
      outline: none;
      height: 38px;
      border: 0;

      &::placeholder {
        font-style: italic;
        color: var(--placeholder);
      }
    }
  }

  /* The header contains column titles and the all visible checkbox for
  senders/receivers respectively */
  & .header {
    margin-left: 0;

    & .column-label {
      margin-left: -14px;
    }

    & .all-visible-left {
      @media (pointer: coarse) {
        margin-left: 4px;
      }
    }

    & .all-visible-right {
      @media (pointer: coarse) {
        margin-left: -4px;
      }
    }

    & .all-visible-left,
    & .all-visible-right {
      margin-bottom: 6px;

      & .column-label {
        text-transform: capitalize;
        font-style: normal;
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 0;
        color: #555;
      }
    }
  }

  /* CSS to animate routables entering and leaving the network */
  & .transition {
    &-enter {
      opacity: 0.01;
      max-height: 0;
    }

    &-enter-active {
      opacity: 1;
      max-height: 38px;
      transition: max-height 250ms, opacity 250ms ease-in;
    }

    &-leave {
      opacity: 1;
    }

    &-leave-active {
      opacity: 0.01;
      max-height: 0;
      transition: max-height 250ms, opacity 150ms ease-in;
    }
  }

  /* This applies to the container of each list (senders and receivers) */
  & .routables {
    width: 100%;
    height: 85%;
  }

  /* This applies to an individual routable within the list */
  & .routable {
    width: 90%;

    &.expanded .button {
      background-color: var(--contracted);
    }

    &:hover .button {
      cursor: initial;
      background-color: var(--contracted);
    }

    &.blank {
      background-color: transparent;

      &:hover .button {
        background-color: transparent;
      }
    }

    & .checkbox {
      position: absolute;
      margin-top: 8px;
      margin-left: 4px;
    }
  }

  & .fuzzymissmatch {
    display: none;
  }
}
